
server/GoodsService/obj/project.assets.json

server/GoodsService/obj/project.nuget.cache

server/GoodsService/obj/SparkSwim.GoodsService.csproj.nuget.dgspec.json

server/GoodsService/obj/SparkSwim.GoodsService.csproj.nuget.g.props

server/IdentityService/obj/Debug/net6.0/SparkSwim.IdentityService.assets.cache

server/IdentityService/obj/Debug/net6.0/SparkSwim.IdentityService.GeneratedMSBuildEditorConfig.editorconfig

server/IdentityService/obj/project.assets.json

server/IdentityService/obj/project.nuget.cache

server/IdentityService/obj/SparkSwim.IdentityService.csproj.nuget.dgspec.json

server/IdentityService/obj/SparkSwim.IdentityService.csproj.nuget.g.props

server/GoodsService/obj/Debug/net6.0/SparkSwim.GoodsService.assets.cache

server/GoodsService/obj/Debug/net6.0/SparkSwim.GoodsService.GeneratedMSBuildEditorConfig.editorconfig

server/OrderService/obj/project.nuget.cache

server/OrderService/obj/SparkSwim.OrderService.csproj.nuget.dgspec.json

server/OrderService/obj/project.assets.json

server/OrderService/obj/SparkSwim.OrderService.csproj.nuget.g.props

server/OrderService/obj/Debug/net6.0/SparkSwim.OrderService.GeneratedMSBuildEditorConfig.editorconfig

server/OrderService/obj/Debug/net6.0/SparkSwim.OrderService.assets.cache

server/SparkSwim.Core/obj/project.assets.json

server/SparkSwim.Core/obj/project.nuget.cache

*.json

server/SparkSwim.Core/obj/SparkSwim.Core.csproj.nuget.g.props

server/SparkSwim.Core/obj/Debug/net6.0/SparkSwim.Core.GeneratedMSBuildEditorConfig.editorconfig

server/UserManagementService/obj/Debug/net6.0/SparkSwim.UserManagementService.assets.cache

server/UserManagementService/obj/Debug/net6.0/SparkSwim.UserManagementService.csproj.AssemblyReference.cache

server/UserManagementService/obj/Debug/net6.0/SparkSwim.UserManagementService.GeneratedMSBuildEditorConfig.editorconfig

server/UserManagementService/obj/project.nuget.cache

server/UserManagementService/obj/SparkSwim.UserManagementService.csproj.nuget.g.props

server/SparkSwim.Core/obj/Debug/net6.0/SparkSwim.Core.assets.cache
